name: Autograding Tests

on:
  - push
  - workflow_dispatch
  - repository_dispatch

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run Palindrome Tests
      id: palindrome-tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: "Palindrome Test Suite"
        command: |
          make clean
          make test
        timeout: 10
        max-score: 100

    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        PALINDROME-TESTS_RESULTS: "${{ steps.palindrome-tests.outputs.result }}"
      with:
        runners: palindrome-tests